# Ignore node_modules directory
node_modules

# Ignore env files
.env*

# Ignore local editor settings
.vscode

# Ignore Git repository files
.git
.gitignore

# Ignore build folder
dist
build

# Ignore configuration files
eslint*
prettier*
.DS_Store

# Ignore local dev database
local.db

# Ignore compose
docker-compose.*
