{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "importOrder": [
    "^node:.*$",
    "^svelte",
    "^@sveltejs/kit$",
    "^\\$app(/.*)?$",
    "^\\$env/(static|dynamic)/(private|public)$",
    "^\\$shadcn(/.*)?$",
    "^\\$remote(/.*)?$",
    "^\\$lib(/.*)?$",
    "^\\$components(/.*)?$",
    "^\\./(.*)?$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/app.css",
  "trailingComma": "all",
  "useTabs": false
}
